.git/*
env/
venv/
.venv
.venv/
.yandb_f
.yandb_f/
yandb_f

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

./api_yamdb/.env

*.sublime-project
*.sublime-workspace

static/admin/
static/rest_framework
posts/static/

db.sqlite3

api_yamdb/.env

.gitignore
